
.profile {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px;
    text-align: center;
    border: 2px black solid;
    background-color:blanchedalmond;
}

.profiles {
    flex-basis: 28%;
    margin: 1em;
    padding: 1em;
    border: 1px solid goldenrod;
}

.userShelf {
    margin: 2em;
    font-size: 2em;
    text-align: center;
    background-color: blanchedalmond;
}
.profile__info {
    justify-content: center;
    margin:60px;
    text-align: center;
    background-color: blanchedalmond;
    padding: 4px
    
}