
.items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  
    justify-content: center;
    border-width:thin;
    position:static;
    background-color: blanchedalmond;
    padding: 3px;

    
  }
  
  .item {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
      text-align: center;
  }
  
  .addItemButton {
     text-align: center;
    color: gray;
  }

  .item__list {
      border: 1px solid blanchedalmond
  }

  .itemForm {
      margin: 30px
  }