
.items {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border: solid;
    justify-content: center;
    border-width:thin;
    position:static;

    
  }
  
  .item {
      flex-basis: 28%;
      margin: 1em;
      padding: 1em;
      border: 1px solid goldenrod;
  }
  
  .addItemButton {
     text-align: center;
  }