
.request {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid white;
    padding: 2em;
    margin: 2em;
    text-align: center;
    background-color: wheat;
  }
  
  .requests {
      flex-basis: 28%;
      margin: 3em;
      padding: 5em;
      border: 1px solid goldenrod;

  }
  .request-header {
      text-align: center;
      font-size: 50px;
      color: black
  }

  .request__message {
      margin: 40px
  }

 