/* Import the google web fonts you want to use */
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

/*Typography
--------------------------------------------------------------*/
body,
button,
input,
select,
textarea {
  color: black;
  font-family: 'EB Garamond', serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: rgb(145, 155, 145)
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patua One", serif;
  letter-spacing: 2px;
}

p {
  margin-bottom: 1.5em;
  color: #d6fcff;
  color: darkslateblue;
}

strong {
  font-weight: bold;
}

address {
  margin: 0 0 1.5em;
}
