.navbar {
    display:flex;
    align-content: center;
    flex-wrap:nowrap;
    padding: 5px;
    margin: 20px;
    justify-content: space-evenly;
    overflow: hidden;
    background-color: rgb(190, 190, 199);
    
    
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    justify-content: space-between 30px;
    
}

.nav__button {
    color: black;
    background-color: grey;
}

.nav__header {
    text-align: center;
}